.form {
    display: flex;
    flex-direction: column;
    row-gap: 20px; /* Adjust the gap between rows as needed */
    background-color: ghostwhite;
    padding: 20px; /* Adjust padding as needed */
    border-radius: 10px; /* Add border-radius for rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
}

.form label {
    color: grey;
    font-size: 18px; /* Adjust font size as needed */
    display: flex; /* Corrected syntax from 'flexbox' to 'flex' */
    align-items: center; /* Align items vertically */
}

.form input, .form select {
    width: 100%; /* Ensure inputs take up full width */
    padding: 8px; /* Add padding for better spacing */
    font-size: 16px; /* Adjust font size as needed */
    border: 1px solid #ccc; /* Add border for input fields */
    border-radius: 5px; /* Add border-radius for rounded corners */
}

.form button {
    width: 100%; /* Ensure button takes up full width */
    padding: 10px; /* Add padding for better appearance */
    font-size: 18px; /* Adjust font size as needed */
    background-color: rgb(167, 249, 153); /* Add background color */
    color: white; /* Add text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border-radius for rounded corners */
    cursor: pointer; /* Add cursor pointer */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.form button:hover {
    background-color: #6ec647; /* Darken background color on hover */
}