.navBar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    background-color: aliceblue;
    left: 0;
    top: 0;
}

.navBar a {
    font-size: 20px;
    color: chartreuse;
    font-weight: 600;
}


