.App{
    color:ghostwhite;}

    body {
        margin: 0px;
        padding: 0px;
        background-color: ghostwhite;
        background-size: cover;
        background-position: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .container {
        text-align: center;
        padding: 50px;
    }